.app-container {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  background-color: #daebf7ff;
  padding: 20px;
  text-align: center;
}

.navbar {
  background-color: #daebf7ff;
  padding: 10px;
}
